services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: devpass
      POSTGRES_DB: udid
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U dev -d udid"]
      interval: 5s
      timeout: 3s
      retries: 10
    networks: [appnet]

  redis:
    image: redis:7-alpine
    command: ["redis-server","--appendonly","no","--maxmemory-policy","allkeys-lru"]
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD","redis-cli","ping"]
      interval: 5s
      timeout: 3s
      retries: 10
    networks: [appnet]

networks:
  appnet: {}

volumes:
  pgdata: {}
